.intro
  background-color: $gray-darker
  background-image: image-url("square-bg.png")
  padding: $content-padding*2 $content-padding/4
  color: $white
  text-align: center

  .navbar
    margin-bottom: $line-height-base * 2

  h1
    font-size: 18px
    text-transform: uppercase
    font-weight: 100
    margin:
      left: auto
      right: auto
      bottom: $line-height-base/2

  h2
    font-size: 36px
    text-transform: uppercase
    margin:
      left: auto
      right: auto
      bottom: $line-height-base * 2

  .btn
    background-color: transparent
    border-color: #666
    border-size: 1px
    color: #CCC
    font-size: 18px
    padding:
      left: $btn-padding * 3
      right: $btn-padding * 3

  .cta
    margin-bottom: $line-height-base * 3

  .learn-more
    display: none

.projects
  +clearfix
  background-color: $gray-lighter
  background-image: image-url("shattered.png")
  padding: $content-padding

.project-list
  +reset-list

.project-list-item
  width: 50%
  float: left

  img
    width: 100%

  a
    display: block
    margin: 5px
    position: relative
    overflow: hidden

  .overlay
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: $brand-yellow
    opacity: 0
    text-align: center
    color: $white
    @include transition(opacity .25s ease-in-out)

    &:before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
      margin-right: -0.25em

    > div
      display: inline-block
      vertical-align: middle

    i
      font-size: 32px
      display: block

    p
      display: none
      margin-bottom: 0
      text-transform: uppercase
      font-weight: bold

  &:hover
    .overlay
      opacity: .95

.social-list
  +reset-list
  color: $black

.social-list-item
  text-align: center
  display: inline-block
  margin: 0 3px

  a
    display: block
    color: inherit
    width: 36px
    height: 36px
    line-height: 36px
    border-radius: 20px
    background-color: $white
    text-decoration: none
    background-color: $gray

    &:hover
      background-color: $gray-light

.contact-cta
  background-color: $brand-purple
  color: $white
  padding: $content-padding
  text-align: center

  p
    font-size: 18px
    margin-bottom: 0

  a
    display: block
    font-weight: bold
    font-size: 42px
    line-height: 1.2em
    color: inherit

.contact
  +clearfix
  padding: $content-padding

  h3
    font-weight: normal
    font-size: 24px
    margin-bottom: $line-height-base/2

.contact-social
  +reset-list

  .list-item
    padding: $content-padding/4 0

  a
    color: inherit

    &:hover
      text-decoration: none

      span
        text-decoration: underline

  i
    margin-right: 10px
    display: inline-block
    color: inherit
    width: 30px
    height: 30px
    line-height: 30px
    border-radius: 20px
    color: $white
    text-decoration: none
    background-color: $gray
    text-align: center

@include min-screen($bp-ipad)
  .intro
    padding-left: $content-padding
    padding-right: $content-padding

    h1
      font-size: 24px

    h2
      font-size: 48px
      max-width: 400px

  .learn-more
    display: inline-block !important

  .projects
    padding-top: $content-padding*3
    padding-bottom: $content-padding*3

  .project-list-item
    width: 33%

    .overlay
      i
        margin-bottom: 12px

      p
        display: block

  .contact-cta
    padding-top: $content-padding*2
    padding-bottom: $content-padding*2

    p
      font-size: 20px

    a
      font-size: 54px

      &:hover
        text-decoration: none

  .contact
    +clearfix
    padding-top: $content-padding*2
    padding-bottom: $content-padding*2

    .contact-form
      float: left
      width: 65%

    .contact-social-col
      float: right
      width: 35%

@include min-screen($bp-desktop)
  .intro
    h1
      font-size: 30px

    h2
      font-size: 66px
      max-width: 600px

  .projects
    padding-top: $content-padding*5
    padding-bottom: $content-padding*5

  .project-list-item
    width: 25%
