<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />

  <title>Branding, Print and Illustration Services | Silen6</title>

  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,400italic,700italic,300italic'>
  {% stylesheet app %}
</head>
<body>

  <section class="intro">

    <header class="navbar body-width">
      <a class="brand" href="/">Silen6</a>
    </header>

    <div>
      <h1>Branding, Print &amp; Illustration</h1>
      <h2>In it for the very sake of design</h2>
      <p>
        <a href="#contact" class="btn">Contact Me</a>
      </p>
    </div>

  </section>

  {{ content }}

</body>
</html>
