<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />

  <title>Branding, Print and Illustration Services | Silen6</title>

  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,400italic,700italic,300italic'>
  <link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
  {% stylesheet app %}
</head>
<body>

  <section class="intro">

    <header class="navbar body-width">
      <a class="brand" href="/">Silen6</a>
    </header>

    <div>
      <h1>Branding, Print &amp; Illustration</h1>
      <h2>In it for the very sake of design</h2>

      <p class="cta">
        <a href="#" class="btn learn-more">Learn More</a>
        <a href="#contact" class="btn">Contact Me</a>
      </p>

      <ul class="social-list">
      {% for s in site.social %}
        <li class="social-list-item">
          <a href="{{ s.url }}">
            <i class="fa-{{s.abbr}}"></i>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>

  <section class="projects">
  </section>

  <section class="contact-cta">
    <div class="body-width">
      <p>now accepting clients <a href="tel:18019317212">(801) 931.7212</a></p>
    </div>
  </section>

  <section class="contact">
    <div class="body-width">
      <div class="contact-form-col">
        <h3><strong>email</strong> me</h3>

        <form class="contact-form">
          <div class="double-groups">
            <div class="group">
              <input type="text" placeholder="name" required>
            </div>
            <div class="group">
              <input type="email" placeholder="email address" required>
            </div>
          </div>

          <div class="double-groups">
            <div class="group">
              <input type="text" placeholder="company name">
            </div>
            <div class="group">
              <input type="text" placeholder="phone #">
            </div>
          </div>

          <div class="group">
            <textarea rows="10" placeholder="message" required></textarea>
          </div>

          <div class="actions">
            <input type="submit" value="Send" class="btn">

            <p class="hint">
              <a href="mailto:cami@silen6.com">or just send me a normal email</a>
            </p>
          </div>

        </form>
      </div>

      <div class="contact-social-col">
        <h3><strong>follow</strong> me</h3>

        <ul class="contact-social">
        {% for s in site.social %}
          <li class="list-item">
            <a href="{{ s.url }}">
              <i class="fa-{{s.abbr}}"></i>
              <span>{{ s.name }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <footer class="fine-print">
    <div class="body-width">
      <p>Made in SLC, UT. All work above is all the original work of Camilla Thurber. &copy;{{ site.time|date:"%Y" }}</p>
    </div>
  </footer>


  <script type="text/template" id="shots-template">
    <ul class="project-list body-width">
      <% _.each(shots, function(shot) { %>
      <li class="project-list-item">
        <a href="<%= shot.url%>">
          <img src="<%= shot.image_url%>" />

          <div class="overlay">
            <div>
              <i class="fa-external-link-square"></i>
              <p>View on Dribbble</p>
            </div>
          </div>
        </a>
      </li>
      <% }); %>
    </ul>
  </script>

  {% javascript components/jquery/dist/jquery %}
  {% javascript components/underscore/underscore %}
  {% javascript index %}
</body>
</html>
